.form {
    max-width: 400px;
    width: 100%;

    &__group {
        margin-top: 20px;
        position: relative;
    }

    &__label {
        display: block;
        font-weight: 600;
        margin-bottom: 5px;
    }

    &__control {
        font-size: 16px;
        height: 39px;
        line-height: 39px;
        padding: 0 10px;
        border-radius: 4px;
        display: block;
        width: 100%;
        border: 2px solid $cadet-blue;
        outline: none;
        font-family: $raleway;

        &--icon {
            padding-right: 45px;
        }
        &--textarea {
            padding: 8px 10px;
            height: auto;
            line-height: 1.4;
            min-height: 39px;
            margin: 0;
            resize: vertical;
        }

        &-container {
            position: relative;
            overflow: hidden;
        }

        &-icon {
            transition: .3s;
            position: absolute;
            transform: translate(0, -50%);
            top: 50%;
            opacity: 0;
            right: 15px;
            font-size: 20px;
            color: $cadet-blue;
            cursor: pointer;
            -webkit-appearance: none;
            border: 0;
            background: none;
            padding: 0;
            outline: 0;

            &.in {
                opacity: 1;
            }

            &:hover {
                color: $regent-gray;
            }
        }
    }

    &__search {
        transition: all .3s;
        position: absolute;
        top: 100%;
        margin-top: 10px;
        width: 300px;
        box-shadow: 0 2px 10px $cadet-blue;
        border: 2px solid $cadet-blue;
        border-radius: 4px;
        transform: scale(.9);
        opacity: 0;
        pointer-events: none;
        z-index: 10;
        background: $white;

        &.in {
            transform: scale(1);
            opacity: 1;
            pointer-events: all;
        }

        &-result {
            padding: 12px;
            font-weight: 700;
            cursor: pointer;

            &:not(:last-child) {
                border-bottom: 2px solid $cadet-blue;
            }

            &:hover {
                background: rgba($cadet-blue, .2);
            }
        }
    }

    &__rating {
        padding: 0 5px;
        font-size: 22px;
        cursor: pointer;
        color: $regent-gray;

        &.active ~ li.form__rating {
            color: $regent-gray;
        }

        &:hover ~ li.form__rating {
            color: $regent-gray;
        }

        &-container {
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline-flex;
            margin-left: -5px;

            &.has-value {
                .form__rating {
                    color: $gold;

                    &:hover ~ .form__rating {
                        color: $regent-gray;
                    }
                }

                &:hover {
                    .form__rating {
                        color: $gold;
                    }
                }
            }

            &:hover {
                .form__rating {
                    color: $gold;
                }
            }
        }
    }
}