.sidebar {
    width: 250px;
    background: $river-bed;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    color: $cadet-blue;
    font-weight: 600;

    &__block {
        padding: 20px;
        border-bottom: 3px solid $oxford-blue;
        display: block;

        &:last-child {
            border-bottom: none;
        }

        &-title {
            font-size: 22px;
            color: lighten($river-bed, 25%);
            margin-bottom: 20px;
        }
    }

    &__menu {
        margin: 0 -20px;
        padding: 0;
        list-style: none;

        &-item {
            display: block;
            padding: 10px 20px;

            &:hover {
                background: $oxford-blue;
            }

            i {
                font-size: 1.3em;
                margin-right: 15px;
            }
        }
    }
}